.vs/
*/Configs/*/*
*/extensions/*/*.cpp
*/extensions/*/*.dll
*/extensions/*/*.gml
*/Release/
*/Debug/
Debug/
Release/
export/*.gmez
export/*.yymp
export/*.yymps
export/ApolloHelp.html
export/*.png
export/smiley/*.png
export/*.gmz
*.sdf
help.rtf
/Apollo.VC.VC.opendb
/Apollo.VC.db
Apollo/__gmxgen.h
*/#backups/
*.pdb
*.dll
*.dylib
*.so
*.o

/Lua/*
!/Lua/Put your Lua source files here.txt


Apollo/Apollo.o
